*.m4
*.in
/config.*
autom4te.cache/
*.*~
.deps/
stamp-*
*.py

ABOUT-NLS
INSTALL
compile
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
ibus-unikey.spec
libtool
.github/
project_planning/
build/
mkme
*commit.txt
project_dir/
package.json
readme_viewer.html
serve_readme.py
server.js
.vscode/
Testing/

po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/*@boldquot.header
po/*@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/POTFILES
